<div>
    <h1 style="color: blue;">Librería comics Servicios</h1>
    <form #comicForm="ngForm">
        <div class="mb-3" style="width: 300px;">
            <label class="form-label">Nombre: </label>
            <input class="form-control" type="text" #cajanombre name="#cajanombre" />
        </div>
        <div class="mb-3" style="width: 300px;">
            <label class="form-label">Imagen: </label>
            <input class="form-control" type="text" #cajaimagen name="#cajaimagen" /><br />
        </div>
        <div class="mb-3" style="width: 300px;">
            <label class="form-label">Descripción: </label>
            <input class="form-control" type="text" #cajadescripcion name="#cajadescripcion" /><br />
        </div>
        <button class="btn btn-success" (click)="insertarComic()">Insertar Comic</button>
    </form>
    <div *ngIf="comicFavorito" style="background-color: lightcyan;">
        <h1>{{comicFavorito.nombre}}</h1>
        <img src="{{comicFavorito.imagen}}" style="width: 80px;height: 100px;">
    </div>
    <div *ngFor="let comic of comics;let i = index">
        <app-comic [comic]="comic" [index]="i" (favorito)="seleccionarFavorito($event)"
            (eliminar)="eliminarComic($event)" (modificar)="modificarComic($event)"></app-comic>
    </div>
</div>