<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="#">ServiciosAngular</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/libreria">Librería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/personas">Personas API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/coches">Coches API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/plantilla">Plantilla API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/empleados">Empleados Multiple</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/multiple">Multiple NgModel</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="#">Action</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>